setuptools
regex
pickle-mixin
google-api-python-client
oauth2client
sklearn
gitdb==4.0.7
GitPython==3.1.14
google-api-core==1.26.0
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-cloud-core==1.6.0
google-cloud-storage==1.37.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio
keras==2.3.0
Keras-Preprocessing==1.1.2
numpy
pandas
fsspec
gcsfs
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-io-gcs-filesystem==0.23.1